<div class="py-5 coverImg" id="about" style="background-image: url('static/content/Frame 1.png'); background-repeat: no-repeat;">
  <div class="container">
    <h2 class="display-4 font-weight-light mb-5">ПРО НАС</h2>
    <!-- <div class="row align-items-center mb-5">
      <div class="col-lg-6 col-sm-6 order-1"><i class="fa fa-chart-bar fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Кто мы?</h2>
        <p class="text-muted mb-4">Мы команда профессионалов и вдохновленных ребят, мутим проекты любой сложности для частных предпринимателей, бизнесов любого размера и государства</p>
      </div>
      <div class="col-lg-5 col-sm-4 px-5 float-right mx-auto order-2">
        <img src="static/content/triangle-blue.png" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 col-sm-4 px-5 mx-auto"><img src="static/content/chat-square-red.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6 col-sm-6"><i class="fas fa-laptop-code fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Наша специализация</h2>
      </div>
    </div> -->
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center py-5">
        <!-- Portfolio Item 1-->
        <div class="tech-item col-md-4 col-lg-4 mb-5">
            <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-5 py-3">  
                <i class="fas fa-robot fa-5x"></i>
                </div>
                <h2 class="text-center"><b>Чат-боты</b></h2>
                <p class="text-muted mb-0 text-center">Производим IT проекты по ГОСТам</p>
            </div>
        </div>
        <!-- Portfolio Item 2-->
        <div class="tech-item col-md-4 col-lg-4 mb-5">
            <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-5 py-3">  
                <i class="far fa-window-maximize fa-5x"></i>
                </div>
                <h2 class="text-center"><b>Веб-сайты</b></h2>
                <p class="text-muted mb-0 text-center">Производим IT проекты по ГОСТам</p>
            </div>
        </div>
        <!-- Portfolio Item 3-->
        <div class="tech-item col-md-4 col-lg-4 mb-5">
            <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-5 py-3">  
                <i class="fas fa-server fa-5x"></i>
                </div>
                <h2 class="text-center"><b>АПИ</b></h2>
                <p class="text-muted mb-0 text-center">Производим IT проекты по ГОСТам</p>
            </div>
        </div>
    </div>
    
  </div>
</div>

