
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container"><a href="#" class="navbar-brand d-flex align-items-center text-primary"> <i class="fa fa-industry fa-sm mb-1 mx-2"></i><strong>Zavod</strong></a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
      	<!-- Nav bar links -->
        <li class="nav-item active"><a href="#home" class="nav-link" onclick="smoothScroll(document.getElementById('home'))"> Title </a></li>
        <li class="nav-item active"><a href="#about" class="nav-link" onclick="smoothScroll(document.getElementById('about'))"> About us </a></li>
        <li class="nav-item active"><a href="#portfolio" class="nav-link" onclick="smoothScroll(document.getElementById('portfolio'))"> Portfolio </a></li>
        <li class="nav-item active"><a href="#reviews" class="nav-link" onclick="smoothScroll(document.getElementById('reviews'))"> Reviews </a></li>
        <li class="nav-item active"><a href="#our_projects" class="nav-link" onclick="smoothScroll(document.getElementById('our_projects'))"> Our projects </a></li>
        <li class="nav-item active"><a href="#technologies" class="nav-link" onclick="smoothScroll(document.getElementById('technologies'))"> Tech stack </a></li>
        <li class="nav-item active"><a href="#" class="nav-link" onclick="smoothScroll(document.getElementById('contact'))"> Contact</a></li>
        <!-- /Nav bar links -->
      </ul>
    </div>
  </div>
</nav>
