
<nav class="navbar navbar-expand-lg navbar-light py-3 sticky navbar-fixed-top" id="navbar">
  <div class="container"><a href="#" class="navbar-brand d-flex align-items-center text-primary"> <i class="fa fa-industry fa-md mx-1"></i><strong>Zavod.dev</strong></a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
      	<!-- Nav bar links -->
        <li class="nav-item active"><a href="#about" class="nav-link" onclick="smoothScroll(document.getElementById('about'))"> Про нас </a></li>
        <li class="nav-item active"><a href="#portfolio" class="nav-link" onclick="smoothScroll(document.getElementById('portfolio'))"> Портфолио </a></li>
        <li class="nav-item active"><a href="#reviews" class="nav-link" onclick="smoothScroll(document.getElementById('reviews'))"> Отзывы </a></li>
        <li class="nav-item active"><a href="#our_projects" class="nav-link" onclick="smoothScroll(document.getElementById('our-projects'))"> Нашы проекты </a></li>
        <li class="nav-item active"><a href="#" class="nav-link" onclick="smoothScroll(document.getElementById('contact'))"> Контакты </a></li>
        <!-- /Nav bar links -->
      </ul>
    </div>
  </div>
</nav>
