
<section class="page-section portfolio py-5 coverImg" id="portfolio" style="background-image: url('static/content/Frame 2.png'); background-repeat: no-repeat; height: 100%; width: 100%">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="display-4 font-weight-light text-right">ПОРТФОЛИО</h2>
                <p class="text-muted text-right mb-5">С нами работали 10 компаний, предпринимателей и гос.структур, также мы принимаем участие в волонтерских проектах для улучшения жизни граждан Украины, локальных и интернациональных соревнованиях и хакатонах.</p>
                <p class="text-muted mb-5 text-right">Нажмите на объект для большей информации</p>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"> <i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/vogneborets.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>Vogneborets</b></p>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/spaceLIFT.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>Space LIFT</b></p>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/camp-games.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>Camp Games 👾</b></p>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/ONEU.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>ONEU 📚</b></p>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/super-parent.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>Super Parent Bot</b></p>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/online-school-odesa.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>Online School Odessa</b></p>
                    </div>
                    <!-- Portfolio Item 7-->
                    <div class="col-sm-4 col-lg-3 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/stop-covid.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>#StopCovidUABot</b></p>
                    </div>
                    <!-- Portfolio Item 8-->
                    <div class="col-sm-4 col-lg-3 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/minesbot.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>MinesBot</b></p>
                    </div>
                    <!-- Portfolio Item 9-->
                    <div class="col-sm-4 col-lg-3 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal9">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/maman.png" alt="" />
                        </div>
                        <p class="text-muted mt-2 text-center"><b>Maman</b></p>
                    </div>
                    <!-- Portfolio Item 10-->
                    <div class="col-sm-4 col-lg-3 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto py-4" data-toggle="modal" data-target="#portfolioModal10">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/terazza.png" alt="" />
                        </div>
                        <p class="text-muted mt-3 text-center"><b>TERRAZZA</b></p>
                    </div>
                </div>
            </div>
        </section>




<!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                            	<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Vogneborets</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                <div class="col-lg-4">
                                    <!-- Portfolio Modal - Title-->
                                    
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-3 modal-pic" src="static/assets/img/portfolio/vogneborets.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    
                                    
                                </div>
                                <div class="col-lg-6">
                                	<p class="mb-5">Бот для оценки пожарной безопасности вместе с картой отзывов, помогает:</p>
                                        <ul>
                                            <li>оценить пожарную безопасность заведения</li>
                                            <li>узнать статистику безопасности заведений</li>
                                            <li>узнать полезные советы о пожарной безопасности</li>
                                        </ul>
                                </div>
                                
                            </div>
                            <button class="btn btn-primary">          
                                <u href="http://vogneborets.com/">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Space LIFT</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/spaceLIFT.png" alt="" />
                                	</div>
                                	<div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Бот для онбординга участников программы Государственного космического агентства Украины.</p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://yangelspace.tech/">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Camp Games 👾</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/camp-games.png" alt="" />
                                	</div>
                                	<div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5"></p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://t.me/campgamesbot">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">ONEU 📚</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/ONEU.png" alt="" />
                                	</div>
                                	<div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5"></p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://t.me/oneubot">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Super Parent Bot</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/super-parent.png" alt="" />
                                	</div>
                                	<div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Super Parent Bot — чат-бот-помощник для супер родителей, которым нужно занять ребёнка чем-то полезным здесь и сейчас.</p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://t.me/superparent_bot">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Online School Odessa</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/online-school-odesa.png" alt="" />
                                	</div>
                                	<div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5"></p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://t.me/oso_consultant_bot">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 7-->
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="portfolioModal7Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">#StopCovidUABot</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/stop-covid.png" alt="" />
                                    </div>
                                    <div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Чатбот #StopCovidUA - щоби отримати чи надати допомогу у боротьбі з коронавірусом</p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://t.me/StopCovidUABot">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 8-->
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="portfolioModal8Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">MinesBot</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/minesbot.png" alt="" />
                                    </div>
                                    <div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Minesweeper emulator</p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://t.me/MineswotBot">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 9-->
        <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-labelledby="portfolioModal9Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Maman</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/maman.png" alt="" />
                                    </div>
                                    <div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Онлайн меню для ресторана</p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://maman.rest/">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 10-->
        <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-labelledby="portfolioModal10Label" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                 <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">TERRAZZA</h2>

                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="col-lg-4">
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="static/assets/img/portfolio/terazza.png" alt="" />
                                    </div>
                                    <div class="col-lg-6">
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Онлайн меню для ресторана</p>
                                </div>
                                    
                            </div>
                            <button class="btn btn-primary">          
                                <u href="https://terrazza.rest/">Перейти на сайт  <i class="fa fa-arrow-right fa-fw"></i> </u>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>







