<section class="page-section portfolio py-5 coverImg" id="technologies" style="background-color: #ccc4b4">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="display-4 font-weight-light text-right">Technologies</h2>
        <p class="text-muted text-right mb-3">Tech we use</p>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <i class="fab fa-aws fa-3x"></i>
                    </div>
                    <h3 class="text-center"><b>AWS</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <i class="fab fa-linux fa-3x"></i>
                    </div>
                    <h3 class="text-center"><b>Linux</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <i class="fab fa-python fa-3x"></i>
                    </div>
                    <h3 class="text-center"><b>Python</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <i class="fab fa-js-square fa-3x"></i>
                    </div>
                    <h3 class="text-center"><b>JavaScript</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-4 py-2">  
                    <i class="fab fa-cuttlefish fa-2x"></i><i class="fas fa-plus fa-2x"></i><i class="fas fa-plus fa-2x"></i>
                    </div>
                    <h3 class="text-center"><b>C++</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-4 py-2">  
                    <i class="fab fa-cuttlefish fa-2x"></i><i class="fas fa-hashtag fa-2x"></i>
                    </div>
                    <h3 class="text-center"><b>C#</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 8-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <i class="fab fa-php fa-3x"></i>
                    </div>
                    <h3 class="text-center"><b>PHP</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 9-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <img class="img-fluid" src="static/assets/img/django.png" style="height: 5rem; width: 8rem;">
                    </div>
                    <h3 class="text-center"><b>Django</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 10-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <img class="img-fluid" src="static/assets/img/flask.png" style="height: 5rem; width: 6rem;">
                    </div>
                    <h3 class="text-center"><b>Flask</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 11-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <img class="img-fluid" src="static/assets/img/selenium.png" style="height: 5rem; width: 5rem;">
                    </div>
                    <h3 class="text-center"><b>Selenium</b></h3>
                </div>
            </div>
            <!-- Portfolio Item 12-->
            <div class="tech-item col-md-6 col-lg-4 mb-5">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100 mb-3 py-2">  
                    <i class="fab fa-bootstrap fa-3x"></i>
                    </div>
                    <h3 class="text-center"><b>Bootstrap 4</b></h3>
                </div>
            </div>
        </div>
    </div>
</section>