

<!-- Carousel (can be useful later) , include this file in index.html to see this carousel -->

<section class="blog_section">
            <div class="container">
                <div class="blog_content">
                    <div class="projects-slider owl-carousel owl-theme">
                        <div class="blog_item">
                            <div class="blog_image">
                                <img class="img-fluid" src="static/assets/img/portfolio/cabin.png" alt="images not found">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <h5><a href="#">We are best for any industrial & business solution.</a></h5>
                                </div>
                                <ul>
                                    <li><i class="icon ion-md-person"></i>Alex</li>
                                    <li><i class="icon ion-md-calendar"></i>August 1, 2018</li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                                <a href="#">Read More<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>                        
                        <div class="blog_item">
                            <div class="blog_image">
                                <img class="img-fluid" src="static/assets/img/portfolio/safe.png" alt="images not found">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <h5><a href="#">We are best for any industrial & business solution.</a></h5>
                                </div>
                                <ul>
                                    <li><i class="icon ion-md-person"></i>Alex</li>
                                    <li><i class="icon ion-md-calendar"></i>August 1, 2018</li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                                <a href="#">Read More<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>                        
                        <div class="blog_item">
                            <div class="blog_image">
                                <img class="img-fluid" src="static/assets/img/portfolio/submarine.png" alt="images not found">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <h5><a href="#">We are best for any industrial & business solution.</a></h5>
                                </div>
                                <ul>
                                    <li><i class="icon ion-md-person"></i>Alex</li>
                                    <li><i class="icon ion-md-calendar"></i>August 1, 2018</li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                                <a href="#">Read More<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
